{% for service in services[cluster][subcluster] -%}
redis://127.0.0.1:{{redis_port + services[cluster][subcluster][service]['port_offset']}},{{secrets[cluster][subcluster][service]['password']}},{{service}}
redis://127.0.0.1:{{sentinel_port + services[cluster][subcluster][service]['port_offset']}},{{secrets[cluster][subcluster][service]['password']}},sentinel-{{service}}
{% endfor %}
